.ql-container {
    font-family: unset !important;
    font-size: unset !important;
}

.ql-editor {
    overflow-y: auto;
}

.ql-editor img {
    height: auto;
    max-width: 100%;
}

.ql-editor p {
    margin-bottom: 0;
}

.card-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 50%;
    --bs-aspect-ratio: calc(3 / 4  * 100%);
}